/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9 de fev. de 2024, 17:48:23
    Author     : nalis
*/

*{
    margin: 0;
    padding: 0;
}
body{
      background-color: rgb(210, 210, 210);
     font-family: 'Times New Roman', Times, serif;
}
#logo {
    width: 90px;
    height: 24px;
}
